#container
{
    margin-top: 100px;
}

.fondo_blanco
{
    background-color: #FAFAFA;
}

#panel_izquierdo
{
    border-right: 1px solid #EEEEEE;
}

#stats_miembros
{
    float: left;
}

.stats_miebros_row
{
    padding: 10px 40px;
    float: left;
    width: 100%;
}

.stats_label
{
    width: 75%;
    float: left;
    text-align: left;
}

.stats_value
{
    width: 25%;
    float: right;
    text-align: right;
}