#form_inscripcion
{
    margin-top: 80px;
}

h3
{
    width: 100%;
    margin: 40px 0px 10px 16px;
    border-bottom: 1px solid #C1C1B6;
    float: left;
}

.status_text
{
    color: red;
}

#barra_botones
{
    margin-top: 20px;
}

button
{
    width: 200px;
}

.img_reload
{
    float: left;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}

#barra_progreso
{
    float: left;
}