#form_inscripcion
{
    margin-top: 80px;
    float: left;
}

h3
{
    width: 100%;
    margin: 40px 0px 10px 16px;
    border-bottom: 1px solid #C1C1B6;
    float: left;
}

#barra_botones
{
    margin-top: 20px;
}

button
{
    width: 200px;
}

#barra_progreso
{
    float: left;
}