#logo
{
    height: 300px;
    display: block;
    margin: 50px auto 50px auto;
}

form
{
    width: 400px;
    margin: auto;
}

form input
{
    margin-bottom: 20px;
}

form button
{
    width: 100%;
}